<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>
</head>
<body>

<h2>Базовые критерии:</h2>

<section>
    <header>
        <h3>
            <a href="https://up.htmlacademy.ru/htmlcss/21/criteries#basic-2" class="open-criteria"
               target="_blank">Б2.</a>

            К страницам подключён один стилевой файл (с учётом normalize.css к каждой странице могут быть
            подключены два стилевых файла).
        </h3>
    </header>
    <div class="content">
        {% if data.styleFiles.length > 0 %}
            <ol>
                {% for item in data.styleFiles %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <span class="no-items">Нет подключеных файлов стилей.</span>
        {% endif %}
    </div>
</section>

<section>
    <header>
        <h3>
            <a href="https://up.htmlacademy.ru/htmlcss/21/criteries#basic-5" class="open-criteria"
               target="_blank">Б5.</a>

            Документ проходит проверку на валидность <a href="http://validator.w3.org/nu/" target="_blank">http://validator.w3.org/nu/</a>.
        </h3>
    </header>
    <div class="content">
        {% if data.validationResult.length > 0 %}
            <ol>
                {% for item in data.validationResult %}
                    <li>
                        <ul>
                            <li>
                                Type: {{ item.type }}
                            </li>
                            <li>
                                SybType: {{ item.subType }}
                            </li>
                            <li>
                                Line: {{ item.lastLine }}
                            </li>
                            <li>
                                Message: {{ item.message }}
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <span class="no-items">Разметка валидна.</span>
        {% endif %}
    </div>
</section>

{% if data.links %}
    <h3>Links:</h3>
    <ol>
        {% for item in data.links %}
            <li>{{ item }}</li>
        {% endfor %}
    </ol>
{% endif %}

{% if data.buttons %}
    <h3>Buttons:</h3>
    <ol>
        {% for item in data.buttons %}
            <li>{{ item }}</li>
        {% endfor %}
    </ol>
{% endif %}

</body>
</html>
