<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Report</title>

    <style>
        body {
            margin: 20px;
        }
    </style>
</head>
<body>

<h1>HTMLAcademy Mentor's Helper CLI Report</h1>
{{ data.generationDate }}

<h2>Базовые критерии:</h2>

<section>
    <header>
        <h3>
            <a href="https://up.htmlacademy.ru/htmlcss/21/criteries#basic-2" class="open-criteria"
               target="_blank">Б2.</a>

            К страницам подключён один стилевой файл (с учётом normalize.css к каждой странице могут быть
            подключены два стилевых файла).
        </h3>
    </header>
    <div class="content">
        {% if data.styleLinks.length > 0 %}
            <ol>
                {% for item in data.styleLinks %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <span class="no-items">Нет подключеных файлов стилей.</span>
        {% endif %}
    </div>
</section>

<section>
    <header>
        <h3>
            <a href="https://up.htmlacademy.ru/htmlcss/21/criteries#basic-5" class="open-criteria"
               target="_blank">Б5.</a>

            Документ проходит проверку на валидность <a href="http://validator.w3.org/nu/" target="_blank">http://validator.w3.org/nu/</a>.
        </h3>
    </header>
    <div class="content">
        {% if data.validationResult.length > 0 %}
            <ol>
                {% for item in data.validationResult %}
                    <li>
                        <ul>
                            <li>
                                Type: {{ item.type }}
                            </li>
                            <li>
                                SybType: {{ item.subType }}
                            </li>
                            <li>
                                Line: {{ item.lastLine }}
                            </li>
                            <li>
                                Message: {{ item.message }}
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <span class="no-items">Разметка валидна.</span>
        {% endif %}
    </div>
</section>

<section>
    <header>
        <h3>
            <a href="https://up.htmlacademy.ru/htmlcss/21/criteries#basic-6" class="open-criteria"
               target="_blank">Б6.</a>

            Вся собственная стилизация выполнена в одном стилевом файле.
        </h3>
    </header>
    <div class="content">
        {% if data.styleFiles.length > 0 %}
            <span>Существующие файлы стилей в проекте:</span>
            <ol>
                {% for item in data.styleFiles %}
                    <li>
                        {{ item }}
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <span class="no-items">Нет файлов стилей.</span>
        {% endif %}
    </div>
</section>

{% if data.links %}
    <h3>Links:</h3>
    <ol>
        {% for item in data.links %}
            <li>{{ item }}</li>
        {% endfor %}
    </ol>
{% endif %}

{% if data.buttons %}
    <h3>Buttons:</h3>
    <ol>
        {% for item in data.buttons %}
            <li>{{ item }}</li>
        {% endfor %}
    </ol>
{% endif %}

</body>
</html>
