{% if data.markupAllElements %}
    <section>
        <header>
            <h4>
                <a href="{{ data.markupAllElements.meta.linkToCriteria }}" class="open-criteria"
                   target="_blank">Б1.</a>

                Выполнена HTML-разметка всех страниц и всех элементов на страницах.
            </h4>
        </header>
        <div class="content">

        </div>
    </section>
{% endif %}
