{% if data.styleFilesInHead %}
    <section>
        <header>
            <h4>
                <a href="{{ data.styleFilesInHead.meta.linkToCriteria }}" class="open-criteria"
                   target="_blank">Б3.</a>

                Стилевой файл подключён внутри <code>&lt;head&gt;</code>.
            </h4>
        </header>
        <div class="content">

        </div>
    </section>
{% endif %}
